<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/login&signup.css">

</head>
<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    <div class="container">
        <div class="form-container">
            <form id="signupForm" action="/signup" method="POST">
                <h2>Sign Up</h2>

                <label for="signupFullName">Full Name:</label>
                <input type="text" id="signupFullName" name="full_name" required>
                <span class="error-message"></span> <!-- This will hold the error message -->

                <label for="signupUserName">User Name:</label>
                <input type="text" id="signupUserName" name="user_name" required>
                <span class="error-message"></span> <!-- This will hold the error message -->

                <label for="signupEmail">Email:</label>
                <input type="email" id="signupEmail" name="email" required>
                <span class="error-message"></span> <!-- This will hold the error message -->

                <label for="signupPassword">Password:</label>
                <input type="password" id="signupPassword" name="password" placeholder="Not less than 6 digits" required>
                <span class="error-message"></span> <!-- This will hold the error message -->

                <label for="signupConfirmPassword">Confirm Password:</label>
                <input type="password" id="signupConfirmPassword" name="confirm_password" required>
                <span class="error-message"></span> <!-- This will hold the error message -->

                <button type="submit">Sign Up</button>

                <p id="alreadyHaveAccount">Already have an account? <a href="{{ url_for('login') }}" id="loginLink">Login</a></p>
            </form>
        </div>
    </div>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/login&signup.js') }}"></script>
</body>
</html>
